<div style="display: flex; flex-direction: column; gap: 4px; align-items: start;">
<!--  <p style="text-align: center; align-self: center; font-size: 32px;">Run Summary</p>-->
  <div class="element">
    <img ngSrc="https://deadcells.wiki.gg/images/2/23/Power.png" style="height: 24px; width: auto;" height="14" width="13">
    <p>20 Scrolls</p>
  </div>
  <div class="element">
    <img ngSrc="https://deadcells.wiki.gg/images/5/58/Str_Skill.png" style="height: 24px; width: auto;" height="48" width="44">
    <p>5 Dual Scrolls</p>
  </div>
  <div class="element">
    <img ngSrc="https://deadcells.wiki.gg/images/3/32/Cursed_Effect.png" style="height: 24px; width: auto;" height="14" width="13">
    <p>1 Cursed Chests</p>
  </div>
  <div class="element">
    <img ngSrc="https://deadcells.wiki.gg/images/6/65/Healing_Potion_1_Icon.png" style="height: 24px; width: auto;" height="48" width="44">
    <p>2 Food Shop</p>
  </div>
</div>
