<div style="display: flex; flex-direction: column; height: 95vh; margin: 0; padding: 0;">
  <div class="unhighlightable" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img ngSrc="assets/Dead_Cells_logo.png" alt="Dead Cells Logo" style="width: 300px; max-width: 95%; height: auto;"
         height="401" width="1187">
    <p>Optimal Path Calculator</p>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="unhighlightable" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <p>Created by <a href="https://github.com/RobiFox">Robi</a> • <a href="https://github.com/RobiFox/DeadCells">Source Code</a> • Data from <a href="https://deadcells.wiki.gg/">the Official Dead Cells Wiki</a></p>
  </div>
</footer>
