<div class="flex flex-col h-[98vh] m-0 p-0">
  <div class="select-none flex flex-col items-center justify-center">
    <img ngSrc="assets/Dead_Cells_logo.png" class="w-[300px] max-w-[95%] h-auto" alt="Dead Cells Logo"
         height="401" width="1187">
    <p>Optimal Path Calculator</p>
  </div>
  <div class="flex-1 flex flex-col items-center justify-center">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="select-none flex flex-col items-center justify-center">
      <p class="text-center">Created by <a href="https://github.com/RobiFox">Robi</a> • <a
        href="https://github.com/RobiFox/DeadCells">Source Code</a> • Data from <a href="https://deadcells.wiki.gg/">the
        Official Dead Cells Wiki</a></p>
    </div>
  </footer>
</div>
